// 修改 element-plus 组件库的样式

:global(.el-aside) {
  width: auto;
  height: calc(100vh - 10px);
}

:global(.el-header) {
  height: 40px;
  padding: 0;
}

:global(.el-main) {
  padding: 0;
}

:global(.el-dialog__header) {
  padding: 10px;
}

:global(.el-dialog__headerbtn) {
  top: 10px;
  right: 25px;
  padding: 2px;
  width: 5px;
  height: 5px;
}

:global(.el-dialog__body) {
  padding: 0 10px 10px 10px;
  background-color: #f1f0f0;
}

:global(.el-tabs__nav .is-top) {
  background-color: #ffffff;
  font-size: 10px;
}

:global(.el-dialog__footer) {
  margin-top: 5px;
}